<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Voting</title>


	<script>
		const users = JSON.parse("{{ users_JSON | escapejs}}");
		const roles = JSON.parse("{{ roles_JSON | escapejs }}");
		const constitution = JSON.parse("{{ constitution_JSON | escapejs }}");
		const from_submit = {{ from_submit|lower }};
		const sent_duplicate = {{ sent_duplicate|lower }};
		const too_many_provisions = {{ too_many_provisions|lower }}
	</script>

	<script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
	<script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>
	<script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>

	{% load static %}
	<script type="text/javascript" src="{% static 'votingapp/voting_react.js' %}"></script>

	<link rel="shortcut icon" type="image/ico" href="{% static 'votingapp/voting.ico' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'votingapp/voting.css' %}">

	
</head>

<body>

	<div class="fill" id="left"></div>

	<div id="root"></div>

	<div class="fill" id="right"></div>

</body>
</html>